local wezterm = require("wezterm")
local config = wezterm.config_builder()
local mux = wezterm.mux

config.automatically_reload_config = true

wezterm.on('toggle-opacity', function(window, pane)
    local overrides = window:get_config_overrides() or {}
    if not overrides.window_background_opacity then
        overrides.window_background_opacity = 0.4
        overrides.text_background_opacity = 0.4
    else
        overrides.window_background_opacity = nil
        overrides.text_background_opacity = nil
    end
    window:set_config_overrides(overrides)
end)

-- Full screen
wezterm.on('gui-startup', function(cmd)
    local tab, pane, window = mux.spawn_window(cmd or {})
    window:gui_window():maximize()
end)

{{- if eq .chezmoi.os "windows" -}}

-- config.default_prog = { 'pwsh', '-nol' }
config.default_prog = { 'nu' }
-- config.win32_system_backdrop = "Acrylic"
-- config.win32_system_backdrop = "Tabbed"
config.win32_system_backdrop = "Mica"
config.window_background_opacity = 0.99
config.text_background_opacity = 0.39

{{- end -}}


{{- if eq .chezmoi.os "linux" -}}
config.default_prog = { 'bash' }
--config.window_background_opacity = 0.8
config.text_background_opacity = 0
-- config.kde_window_background_blur = true -- Nighly Only
{{- end -}}

-- config.window_close_confirmation = "NeverPrompt"

-- ===================================================
-- 				Look and feel
-- ===================================================
config.font = wezterm.font("Maple Mono NF")
config.color_scheme = "Catppucin Mocha"
config.initial_cols = 120
config.initial_rows = 28
config.inactive_pane_hsb = {
    saturation = 0.5,
    brightness = 0.15,
}
-- config.window_decorations = "INTEGRATED_BUTTONS | RESIZE"
config.window_decorations = "RESIZE"
-- config.integrated_title_button_style = "Gnome"

-- background
local background = "1.jpg"
config.window_background_image = wezterm.home_dir .. "/.config/wezterm/images/" .. background

config.window_background_image_hsb = {
    -- Darken the background image by reducing it to 1/3rd
    brightness = 0.5,
    -- You can adjust the hue by scaling its value.
    -- a multiplier of 1.0 leaves the value unchanged.
    hue = 1.0,
    -- You can adjust the saturation also.
    saturation = 1,
}

config.window_padding = {
    left = 5,
    right = 5,
    top = 5,
    bottom = 0,
}

config.window_frame = {
    font = wezterm.font({ family = "Maple Mono NF", weight = "Bold" }),
    font_size = {{ .fontSize }},
    active_titlebar_bg = "#333333",
    inactive_titlebar_bg = "#333333",
    border_left_width = "0.5cell",
    border_right_width = "0.5cell",
    border_bottom_height = "0.25cell",
    border_top_height = "0.25cell",
    border_left_color = "grey",
    border_right_color = "grey",
    border_bottom_color = "purple",
    border_top_color = "purple",
}
-- ===================================================
--     Tab bar
-- ===================================================
config.tab_bar_at_bottom = false
config.use_fancy_tab_bar = false
config.tab_and_split_indices_are_zero_based = true
config.hide_tab_bar_if_only_one_tab = false
config.integrated_title_button_alignment = "Right"
config.mouse_wheel_scrolls_tabs = false
-- config.show_close_tab_button_in_tabs = false -- Nighly Only

config.enable_scroll_bar = true

-- ===================================================

-- WezTerm Keybindings Documentation by dragonlobster
-- ===================================================
-- Leader Key:
-- The leader key is set to ALT + q, with a timeout of 2000 milliseconds (2 seconds).
-- To execute any keybinding, press the leader key (ALT + q) first, then the corresponding key.

-- Keybindings:
-- 1. Tab Management:
--    - LEADER + c: Create a new tab in the current pane's domain.
--    - LEADER + x: Close the current pane (with confirmation).
--    - LEADER + b: Switch to the previous tab.
--    - LEADER + n: Switch to the next tab.
--    - LEADER + <number>: Switch to a specific tab (0–9).

-- 2. Pane Splitting:
--    - LEADER + |: Split the current pane horizontally into two panes.
--    - LEADER + -: Split the current pane vertically into two panes.

-- 3. Pane Navigation:
--    - LEADER + h: Move to the pane on the left.
--    - LEADER + j: Move to the pane below.
--    - LEADER + k: Move to the pane above.
--    - LEADER + l: Move to the pane on the right.

-- 4. Pane Resizing:
--    - LEADER + LeftArrow: Increase the pane size to the left by 5 units.
--    - LEADER + RightArrow: Increase the pane size to the right by 5 units.
--    - LEADER + DownArrow: Increase the pane size downward by 5 units.
--    - LEADER + UpArrow: Increase the pane size upward by 5 units.

-- 5. Status Line:
--    - The status line indicates when the leader key is active, displaying an ocean wave emoji (🌊).


-- tmux
config.leader = { key = "q", mods = "ALT", timeout_milliseconds = 2000 }
config.keys = {
    {
        mods = "LEADER",
        key = "c",
        action = wezterm.action.SpawnTab("CurrentPaneDomain"),
    },
    {
        mods = "CTRL",
        key = "w",
        action = wezterm.action.CloseCurrentPane({ confirm = false }),
    },
    {
        mods = "LEADER",
        key = "b",
        action = wezterm.action.ActivateTabRelative(-1),
    },
    {
        mods = "LEADER",
        key = "n",
        action = wezterm.action.ActivateTabRelative(1),
    },
    {
        mods = "CTRL|SHIFT",
        key = "|",
        action = wezterm.action.SplitHorizontal({ domain = "CurrentPaneDomain" }),
    },
    {
        mods = "CTRL|ALT",
        key = "-",
        action = wezterm.action.SplitVertical({ domain = "CurrentPaneDomain" }),
    },
    {
        mods = "LEADER",
        key = "h",
        action = wezterm.action.ActivatePaneDirection("Left"),
    },
    {
        mods = "LEADER",
        key = "j",
        action = wezterm.action.ActivatePaneDirection("Down"),
    },
    {
        mods = "LEADER",
        key = "k",
        action = wezterm.action.ActivatePaneDirection("Up"),
    },
    {
        mods = "LEADER",
        key = "l",
        action = wezterm.action.ActivatePaneDirection("Right"),
    },
    {
        mods = "LEADER",
        key = "LeftArrow",
        action = wezterm.action.AdjustPaneSize({ "Left", 5 }),
    },
    {
        mods = "LEADER",
        key = "RightArrow",
        action = wezterm.action.AdjustPaneSize({ "Right", 5 }),
    },
    {
        mods = "LEADER",
        key = "DownArrow",
        action = wezterm.action.AdjustPaneSize({ "Down", 5 }),
    },
    {
        mods = "LEADER",
        key = "UpArrow",
        action = wezterm.action.AdjustPaneSize({ "Up", 5 }),
    },
    {
        mods = 'LEADER',
        key = 'p',
        action = wezterm.action.EmitEvent 'toggle-opacity',
    },
}

for i = 0, 9 do
    -- leader + number to activate that tab
    table.insert(config.keys, {
        key = tostring(i),
        mods = "LEADER",
        action = wezterm.action.ActivateTab(i),
    })
end

-- tmux status
wezterm.on("update-right-status", function(window, _)
    local SOLID_LEFT_ARROW = ""
    local ARROW_FOREGROUND = { Foreground = { Color = "#c6a0f6" } }
    local prefix = ""

    if window:leader_is_active() then
        prefix = " " .. utf8.char(0x1f30a) -- ocean wave
        SOLID_LEFT_ARROW = utf8.char(0xe0b2)
    end

    if window:active_tab():tab_id() ~= 0 then
        ARROW_FOREGROUND = { Foreground = { Color = "#1e2030" } }
    end -- arrow color based on if tab is first pane

    window:set_left_status(wezterm.format({
        { Background = { Color = "#b7bdf8" } },
        { Text = prefix },
        ARROW_FOREGROUND,
        { Text = SOLID_LEFT_ARROW },
    }))
end)

return config
